<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.educational.demo.dao.AccessLogMapper">
    <resultMap id="tableResultMap" type="com.educational.demo.model.AccessLog">
        <id property="id" column="id"/>
        <result property="description" column="description"/>
        <result property="exceptionDetail" column="exception_detail"/>
        <result property="logType" column="logType"/>
        <result property="method" column="method"/>
        <result property="params" column="params"/>
        <result property="requestIp" column="requestIp"/>
        <result property="time" column="time"/>
        <result property="username" column="username"/>
        <result property="browser" column="browser"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createTime"/>
    </resultMap>

    <select id="listTableByPage" resultMap="tableResultMap" parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">

        select * from sys_access_log sa
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
        order by sa.id
    </select>

    <select id="countByLast7Days" resultType="com.educational.demo.vo.ViewDateVO">
        SELECT DATE_FORMAT(createTime, '%Y-%m-%d') date,
               count(*) viewCount
        FROM (SELECT *
              FROM sys_access_log
              WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) = date(createTime)) as sal
        GROUP BY date;
    </select>

</mapper>