<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.educational.demo.dao.DoctorMapper">


    <select id="ListByDptIdandTypeId" resultType="com.educational.demo.model.Doctor">
        select d.doctorId, d.doctorName from doctor d where d.departmentId = #{departmentId} and d.typeId = #{typeId}
    </select>
</mapper>