<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.educational.demo.dao.RegistrationMapper">
    <resultMap id="tableResultMap" type="com.educational.demo.model.Registration">
        <result property="registrationId" column="registrationId"/>
        <result property="patientName" column="patientName"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="price" column="price"/>
        <result property="createMan" column="createMan"/>
        <result property="rstatus" column="rstatus"/>
        <result property="phone" column="phone"/>
        <result property="idCard" column="idCard"/>
        <result property="rDescribe" column="describe"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <association property="department" javaType="com.educational.demo.model.Department">
            <id property="departmentId" column="departmentId"/>
            <result property="departmentName" column="departmentName"/>
        </association>
        <association property="doctor" javaType="com.educational.demo.model.Doctor">
            <id property="doctorId" column="doctorId"/>
            <result property="doctorName" column="doctorName"/>
        </association>
        <association property="registrationType" javaType="com.educational.demo.model.RegistrationType">
            <id property="typeId" column="typeId"/>
            <result property="type" column="type"/>
        </association>
    </resultMap>

    <resultMap id="tableResultMapId" type="com.educational.demo.model.Registration">
        <result property="registrationId" column="registrationId"/>
        <result property="patientName" column="patientName"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="price" column="price"/>
        <result property="createMan" column="createMan"/>
        <result property="rStatus" column="rStatus"/>
        <result property="phone" column="phone"/>
        <result property="idCard" column="idCard"/>
        <result property="rDescribe" column="describe"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <association property="department" javaType="com.educational.demo.model.Department">
            <id property="departmentId" column="departmentId"/>
            <result property="departmentName" column="departmentName"/>
        </association>
        <association property="doctor" javaType="com.educational.demo.model.Doctor">
            <id property="doctorId" column="doctorId"/>
            <result property="doctorName" column="doctorName"/>
        </association>
        <association property="registrationType" javaType="com.educational.demo.model.RegistrationType">
            <id property="typeId" column="typeId"/>
            <result property="type" column="type"/>
        </association>
    </resultMap>

    <select id="listTableByPage" resultMap="tableResultMap" parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select re.registrationId, re.patientName, re.sex, re.age, re.price, re.createMan, re.rStatus, re.phone, re.idCard, re.rDescribe, re.createTime, re.updateTime,
        dm.departmentName, dt.doctorName, rt.type
        from registration re
        left join department dm on re.departmentId = dm.departmentId
        left join doctor dt on re.doctorId = dt.doctorId
        left join registrationType rt on re.typeId = rt.typeId
        where re.rStatus =1
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
        order by re.registrationId
    </select>

    <select id="listTableById" resultMap="tableResultMap" parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select re.registrationId, re.patientName, re.sex, re.age, re.price, re.createMan, re.rStatus, re.phone, re.idCard, re.rDescribe, re.createTime, re.updateTime,
        dm.departmentName, dt.doctorName, rt.type
        from registration re left join department dm on re.departmentId = dm.departmentId
        left join doctor dt on re.doctorId = dt.doctorId
        left join registrationType rt on re.typeId = rt.typeId
        where dt.doctorId = #{id} and re.rStatus=1
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
        order by re.registrationId
    </select>

    <delete id="deleteByRegistrationId">
        delete from registration re where re.registrationId = #{id}
    </delete>

    <update id="transfer">
        update registration re SET re.rstatus = #{status} where re.registrationId = #{registrationId}
    </update>

    <select id="selectById" resultType="com.educational.demo.model.Registration">
        select re.registrationId, re.sex, re.age, re.idCard, re.phone, re.patientName, re.price, re.rstatus  from registration re where re.registrationId=#{id}
    </select>

    <update id="updateRegistration" parameterType="com.educational.demo.model.Registration">
        update registration set patientName = #{patientName}, sex=#{sex}, age = #{age} ,departmentId=#{departmentId}, doctorId = #{doctorId}, typeId = #{typeId}, price=#{price},
                                createMan = #{createMan}, phone = #{phone}, idCard=#{idCard}, updateTime=#{updateTime} where registrationId = #{registrationId}
    </update>
</mapper>